{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <h1 class="mt-4">Mon compte</h1>
    <hr>
    - Modifier mon mot de passe
    <br>
    - Mes Groupes

{% endblock %}
