{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block body %}
    <h1 class="mt-4">Modifier mon mot de passe</h1>
    - <a href="{{ path('app_account') }}">Retourner à mon compte</a>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}

    {{ form(form) }}
    <hr>

    <script>
        document.getElementById("ticket_Nouveau").addEventListener("click", function() {
            this.disabled = true;
        });
    </script>
{% endblock %}
{% block javascripts %}

{% endblock %}
