{% extends 'base.html.twig' %}

{% block title %}ESGI Project - Home{% endblock %}

{% block body %}
    <div class="card w-100">
        <div class="card-body">
            <h2 class="card-title">ESGI Project</h2>
            <p class="card-text">Bienvenue sur <strong>ESGI Project</strong>, votre solution tout-en-un pour une gestion de projet sans effort.
                Simplifiez la collaboration, suivez les progrès et résolvez les défis avec notre plateforme intuitive de
                gestion de projet et de ticketing. De la planification à l'exécution, <strong>ESGI Project</strong> vous offre les
                outils nécessaires pour mener vos projets vers le succès. Découvrez une nouvelle façon de travailler
                ensemble. Commencez dès maintenant !</p>
            <a href="{{ path('app_register') }}" class="card-link btn btn-primary">Inscription</a>
            <a href="{{ path('app_about_us') }}" class="card-link btn btn-secondary">À Propos</a>
        </div>
    </div>
{% endblock %}
