{% extends 'base.html.twig' %}

{% block title %}ESGI Project - Nos Tarifs{% endblock %}

{% block body %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Gratuit</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">0€<small class="text-muted fw-light">/mois</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>3 utilisateurs</li>
                        <li>1 Projet</li>
                        <li>Gestion de ticket</li>
                        <li>Email Support</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Inscription Gratuite</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">15€<small class="text-muted fw-light">/mois</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 utilisateurs</li>
                        <li>3 Projet</li>
                        <li>Gestion de ticket et de projet</li>
                        <li>Email Support</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Commencer</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Entreprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">29€<small class="text-muted fw-light">/mois</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>50 utilisateurs</li>
                        <li>10 Projet</li>
                        <li>Gestion de ticket et de projet</li>
                        <li>Email/Phone Support</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Nous Contacter</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
