{% extends 'base.html.twig' %}

{% block title %}ESGI Project - A propos{% endblock %}

{% block body %}
    <h1 class="mt-4">Bienvenue sur ESGI Project</h1>
    <p>Chez ESGI Project, nous sommes passionnés par l'efficacité, la collaboration et la réussite des projets. Notre plateforme de gestion de projet et de ticketing a été conçue pour simplifier la manière dont les équipes travaillent ensemble, en offrant des outils puissants pour organiser, suivre et accomplir leurs tâches avec facilité.</p>

    <h2>Notre Mission</h2>
    <p>Notre mission est de transformer la façon dont les projets sont gérés, en fournissant une solution intégrée qui permet aux équipes de rester organisées, de collaborer de manière transparente et d'atteindre leurs objectifs plus rapidement. Nous croyons que chaque projet, qu'il soit petit ou grand, mérite une gestion efficace pour maximiser son succès.</p>

    <h2>Ce que nous offrons</h2>
    <ol>
        <li>Gestion de Projet Intuitive : Notre interface conviviale rend la gestion de projet simple et accessible à tous. Créez des projets, définissez des tâches et suivez les progrès en un coup d'œil.</li>
        <li>Système de Ticketing Performant : Simplifiez la communication au sein de votre équipe en utilisant notre système de ticketing avancé. Suivez les problèmes, attribuez des tâches et résolvez les défis rapidement.</li>
        <li>Collaboration en Temps Réel : Favorisez une collaboration transparente grâce à nos fonctionnalités en temps réel. Que vous travailliez dans la même pièce ou à des kilomètres de distance, restez connectés et informés.</li>
    </ol>
    <h2>Notre Engagement envers l'Excellence</h2>
    <p>Chez ESGI Project, nous sommes déterminés à fournir une expérience exceptionnelle à nos utilisateurs. Nous nous efforçons continuellement d'innover, d'améliorer nos fonctionnalités et d'écouter les commentaires de nos utilisateurs pour répondre à leurs besoins spécifiques.</p>
    <p>Rejoignez-nous dans notre mission de simplifier la gestion de projet et de ticketing. Découvrez comment ESGI Project peut aider votre équipe à exceller dans chaque projet.</p>

    <strong>Bienvenue dans l'avenir de la gestion de projet !</strong>
    <hr>
    <em>L'équipe ESGI Project</em>
{% endblock %}
